.set-width {
  width: auto;
}

.character-img {
  max-width: 100%;
  height: auto;
  max-height: 250px;
}

.row h1 {
  margin-bottom: 20px;
}

#statBar {
  max-width: 500px;
}

#combatLog {
  height: 500px;
  width: 300px;
  background: rgba(233, 236, 239, 70);
  position: fixed;
  right: 20px;
  top: 50px;
  overflow: hidden;
}

#combatLog h2, p {
  margin: 5px;
}